<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "XbutforY" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="XbutforY">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render UtilityBarComponent.new %>
    <%= render MastheadComponent.new do |masthead| %>
      <% masthead.with_search_slot do %>
        <%= render SearchInputComponent.new(value: params[:q].to_s) %>
      <% end %>
    <% end %>
    <%= render NavTabsComponent.new(active: content_for(:nav_tab) || "latest") %>

    <main class="l-content">
      <%= yield %>

      <%= render FooterComponent.new %>
    </main>

    <% if flash[:notice] %>
      <%= render ToastComponent.new(message: flash[:notice]) %>
    <% end %>
  </body>
</html>
